.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}
a fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
}
